<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Admin\Grid\Api\Data\GridInterface" type="Admin\Grid\Model\Grid" />

    <virtualType name="Admin\Grid\Model\ResourceModel\Grid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_grid</argument>
            <argument name="resourceModel" xsi:type="string">Admin\Grid\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">Admin\Grid\Model\ResourceModel\Grid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>



     <!-- <preference for="Admin\Grid\Api\Data\SubMenuInterface" type="Admin\Grid\Model\SubMenu" />

    <virtualType name="Admin\Grid\Model\ResourceModel\SubMenu\SubMenu\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">traning_grid</argument>
            <argument name="resourceModel" xsi:type="string">Admin\Grid\Model\ResourceModel\SubMenu</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="revicegrid_listing_data_source" xsi:type="string">Admin\Grid\Model\ResourceModel\SubMenu\SubMenu\Collection</item>
            </argument>
        </arguments>
    </type> -->




    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
            	<!-- Data Source will be mentioned in listing xml -->
                <item name="customblog_listing_data_source" xsi:type="string">Admin\Grid\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Admin\Grid\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
        	<!-- Table name to insert data and listing data -->
            <argument name="mainTable" xsi:type="string">traning_grid</argument>
            <!-- Resource model name -->
            <argument name="resourceModel" xsi:type="string">Admin\Grid\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
</config>





 