<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="savecustom_custom_register" instance="Register\User\Observer\Accountcreate"  />
    </event>
     <event name="sales_order_save_after">
        <observer name="sales_order_place_after_custom" instance="Register\User\Observer\SalesAddColumn"  />
    </event>
</config>