<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
     <type name="Magento\Catalog\Model\Product">
        <plugin name="change_product" type="Customer\Tab\Plugin\Product" sortOrder="1" />
    </type>
      <preference for="Magento\Catalog\Block\Product\View\Attributes" type="Customer\Tab\Plugin\Product" />

</config>